<!-- ERROR MESSAGES -->
<div id="errors" class="alert alert-danger" ng-class="{hide: errors == null}">
    <ul>
        <li ng-repeat="item in errors">
            <div ng-bind-html="item.message"></div>
            <div class="text-center">
                <div ng-click="resendVerificationEmail()" class="btn btn-danger" ng-class="{hide: item.code !== 'EmailAddressNotVerified'}">{{LS.common.resendVerificationEmail}}</div>
                <div ng-click="resendUnlockAccountEmail()" class="btn btn-danger" ng-class="{hide: item.code !== 'AccountLocked'}">{{LS.common.resendUnlockAccountEmail}}</div>
            </div>
        </li>
    </ul>
</div>

<!-- SUCCESS MESSAGES -->
<div class="alert alert-success" ng-class="{hide: success == null}">
    <div ng-bind-html="success.message"></div>
</div>

