<!-- MENU NAVBAR -->
<nav class="navbar-top navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="SecureMenuController">
    <div class="navbar-header">
        <!-- MENU BUTTON -->
        <button type="button" class="navbar-toggle navbar-btn" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>icon
        </button>
        <!-- LOGO -->
        <a href="" ng-click="ifNotDirty('/home/index')" class="navbar-brand" ng-bind-html="LS.portalName"></a>

        <!-- BACK BUTTON -->
        <span ng-hide="$state.current.data.isHome">
            <a ng-click="goback()" class="navbar-btn btn visible-xs-inline-block">{{ LS.common.back }}</a>
        </span>

        <!-- USERNAME -->
        <!--<div class="navbar-heading pull-right visible-xs">user: {{ authorizationContext.username }}</div>-->
    </div>

    <div class="navbar-collapse collapse">
        <!-- APPLICATION MENU -->
        <ul class="nav navbar-nav">
            <li><a href="" ng-click="ifNotDirty('/home')">Home</a></li>
            <li><a href="" ng-click="ifNotDirty('/encounters/list')">History</a></li>
            <li><a href="" ng-click="ifNotDirty('/accounts')">Account</a></li>
        </ul>
        <!-- SYSTEM MENU -->
        <ul class="nav navbar-nav navbar-right">
            <!--<li><div class="navbar-heading hidden-xs">user: {{ authorizationContext.username }}</div></li>-->
            <li class="hidden-xs"><a>Session: {{ $root.session.remainingSeconds | timeInterval }}</a></li>
            <li><a href="" ng-click="logout('/accounts/login')">Logout</a></li>
        </ul>
    </div>
</nav>
