<header class="noactions">
    <h1>{{LSPage.heading}}</h1>
</header>

<form name="theForm" role="form" st-submit="update()" class="stx-form compact" novalidate>
    <fieldset>
         <!-- PASSWORD -->
        <div>
            <label for="password">{{LSPage.password}}</label>

            <div>
                <input id="password" name="password" required type="password" ng-model="entity.oldPassword" st-meta-validate="metadata.password" st-check-strength autocomplete="off" st-autofocus/>
                <small class="error" ng-show="theForm.checkError(theForm.password, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- NEW PASSWORD -->
        <div>
            <label for="newPassword">{{LSPage.newPassword}}</label>

            <div>
                <input id="newPassword" name="newPassword" required type="password" ng-model="entity.newPassword" st-meta-validate="metadata.password" st-check-strength autocomplete="off"/>
                <small class="error" ng-show="theForm.checkError(theForm.newPassword, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- CONFIRM PASSWORD -->
        <div>
            <label for="confirmPassword">{{LSPage.confirmPassword}}</label>

            <div>
                <input id="confirmPassword" name="confirmPassword" required type="password" ng-model="confirmPassword" st-meta-validate="metadata.password" st-value-matches="newPassword" autocomplete="off"/>
                <small class="error" ng-show="theForm.checkError(theForm.confirmPassword, 'required')">{{ LS.common.errors.required }}</small>
                <small class="error" ng-show="theForm.confirmPassword.$error.stValueMatches">{{ LS.common.errors.confirmPasswordValueMatches }}</small>
            </div>
        </div>

        <div class="buttons">
            <div>
                <!-- SAVE BUTTON -->
                <button class="save-btn" ng-disabled="formName.$invalid">Save</button>

                <!-- CANCEL BUTTON -->
                <a href="#/accounts/view">Cancel</a>
            </div>
    </fieldset>
</form>
