<!-- FORGOT PASSWORD HEADING -->
<header class="noactions">
    <h1 title="{{portal.name}}">{{ LSPage.forgotUsername }}</h1>
    <h6 class="text-center">
        <small>{{ LSPage.forgotUsernameMessage }}</small>
    </h6>
</header>
<form name="usernameForm" role="form" class="stx-form">
    <!-- EMAIL ADDRESS -->
    <div>
        <label for="emailAddress">{{ LSPage.emailAddress }}</label>

        <div>
            <input id="emailAddress" name="emailAddress" type="email" ng-model="emailRequest.emailAddress" st-meta-validate="metadata.emailAddress" st-autofocus/>
            <small class="error" ng-show="usernameForm.emailAddress.$error.email">{{ LSPage.errors.emailAddressEmail }}</small>
        </div>
    </div>
    <div class="buttons">
        <div>
            <!-- SUBMIT BUTTON -->
            <button ng-click="requestUsername()" class="primary-btn" ng-disabled="usernameForm.$invalid">{{ LS.common.submit }}</button>
        </div>
    </div>
</form>

<!-- FORGOT PASSWORD HEADING -->
<header class="noactions">
    <h1 class="text-center">{{ LSPage.forgotPassword }}</h1>
    <h6 class="text-center">
        <small>{{ LSPage.forgotPasswordMessage }}</small>
    </h6>
</header>
<form name="passwordForm" role="form" class="stx-form">
    <!-- USERNAME -->
    <div>
        <label for="username">{{ LSPage.username }}</label>

        <div>
            <input id="username" ng-model="emailRequest.username" st-meta-validate="metadata.username" ng-class="{errorHighlight: $dirty && $invalid}"/>
        </div>
    </div>

    <div class="buttons">
        <div>
            <!-- SUBMIT BUTTON -->
            <button ng-click="requestPassword()" class="primary-btn" ng-disabled="passwordForm.$invalid">{{ LS.common.submit }}</button>
        </div>
    </div>
</form>
