<header class="noactions">
    <h1>{{ LSPage.heading }}</h1>
</header>

<!-- ERROR PANEL -->
<div ng-include src="'common/error-panel.tpl.html'"/>

<div class="row">
    <section id="page-instructions"></section>
</div>

<form name="theForm" role="form" st-submit="update()" novalidate class="stx-form">
    <fieldset>
        <!-- USERNAME -->
        <div>
            <label for="username">{{ LSPage.username }}</label>

            <div>
                <input id="username" name="username" required ng-model="account.username" st-meta-validate="metadata.username" ng-class="{errorHighlight: $dirty && $invalid}" st-autofocus/>
                <small class="error" ng-show="theForm.checkError(theForm.username, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- FIRST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="firstName">{{ LSPage.firstName }}</label>

            <div>
                <input id="firstName" name="firstName" required ng-model="account.firstname" st-meta-validate="metadata.firstName"/>
                <small class="error" ng-show="theForm.checkError(theForm.firstName, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- MIDDLE INITIAL -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="middleInitial">{{ LSPage.middleInitial }}</label>

            <div><input id="middleInitial" ng-model="account.middleInitial" st-meta-validate="metadata.middleInitial"/></div>
        </div>

        <!-- LAST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="lastName">{{ LSPage.lastName }}</label>

            <div>
                <input id="lastName" name="lastName" required ng-model="account.lastName" st-meta-validate="metadata.lastName"/>
                <small class="error" ng-show="theForm.checkError(theForm.lastName, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- EMAIL ADDRESS -->
        <div>
            <label for="emailAddress">{{ LSPage.emailAddress }}</label>

            <div>
                <input id="emailAddress" name="emailAddress" required type="email" ng-model="account.emailAddress" st-meta-validate="metadata.emailAddress"/>
                <small class="error" ng-show="theForm.checkError(theForm.emailAddress, 'required')">{{ LS.common.errors.required }}</small>
                <small class="error" ng-show="theForm.checkError(theForm.emailAddress, 'email')">{{ LS.common.errors.emailAddressEmail }}</small>
            </div>
        </div>

        <!-- CONFIRM EMAIL ADDRESS -->
        <div>
            <label for="confirmEmailAddress">{{ LSPage.confirmEmailAddress }}</label>

            <div>
                <input id="confirmEmailAddress" name="confirmEmailAddress" required stype="email" ng-model="confirmmailAddress" st-meta-validate="metadata.emailAddress"
                       st-value-matches="emailAddress"/>
                <small class="error" ng-show="theForm.checkError(theForm.confirmEmailAddress, 'required')">{{ LS.common.errors.required }}</small>
                <small class="error" ng-show="theForm.checkError(theForm.confirmEmailAddress, 'stValueMatches')">{{ LS.common.errors.emailAddressValueMatches }}</small>
                <small class="error" ng-show="theForm.checkError(theForm.confirmEmailAddress, 'email')">{{ LS.common.errors.emailAddressEmail }}</small>
            </div>
        </div>

        <!-- PASSWORD -->
        <div>
            <label for="password">{{LSPage.password}}</label>

            <div>
                <input id="password" name="password" required type="password" ng-model="account.password" st-meta-validate="metadata.password" st-check-strength/>
                <small class="error" ng-show="theForm.checkError(theForm.password, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- CONFIRM PASSWORD -->
        <div>
            <label for="confirmPassword">{{LSPage.confirmPassword}}</label>

            <div>
                <input id="confirmPassword" name="confirmPassword" required type="password" ng-model="confirmPassword" st-meta-validate="metadata.password" st-value-matches="password"/>
                <small class="error" ng-show="theForm.checkError(theForm.confirmPassword, 'required')">{{ LS.common.errors.required }}</small>
                <small class="error" ng-show="theForm.confirmPassword.$error.stValueMatches">{{ LS.common.errors.confirmPasswordValueMatches }}</small>
            </div>
        </div>

        <div class="buttons">
            <div>
                <!-- SIGN UP BUTTON -->
                <button type="submit" class="sign-up-btn" ng-disableds="theForm.$invalid">{{ LSPage.signUp }}</button>

                <!-- CANCEL BUTTON -->
                <a ng-click="$state.go('accounts.login')" class="cancel">{{ LS.common.cancel }}</a>
            </div>
        </div>
    </fieldset>
</form>
