<!-- HEADING -->
<div class="col-xs-12">
    <h3 class="text-ellipsis text-center" title="{{ LSPage.heading }}">{{ LSPage.heading }}</h3>
</div>
<div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <!-- ERROR PANEL -->
    <div ng-include src="'common/error-panel.tpl.html'"/>

    <!-- RETURN TO LOGIN PAGE BUTTON -->
    <a href="#/login" class="btn btn-primary form-control" ng-show="success != null">{{ LS.common.returnToLoginPage }}</a>


    <form name="theForm" ng-hide="success != null">
        <!-- USERNAME -->
        <div>
            <label for="username" class="control-label">{{ LSPage.username }}</label>
            <input id="username" disabled ng-model="entity.username" st-meta-validate="metadata.username" ng-class="{errorHighlight: $dirty && $invalid}" class="form-control"/>
        </div>

        <!-- PASSWORD -->
        <div>
            <label for="password" class="control-label">{{LSPage.password}}</label>
            <input id="password" type="password" ng-model="entity.password" st-meta-validate="metadata.password" class="form-control" st-check-password-strength st-autofocus/>
        </div>

        <!-- CONFIRM PASSWORD -->
        <div>
            <label for="confirmPassword" class="control-label">{{LSPage.confirmPassword}}</label>
            <input id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   ng-class="{errorHighlight: $dirty && $invalid}"
                   ng-model="confirmPassword"
                   required
                   st-meta-validate="metadata.password"
                   class="form-control"
                   st-value-matches="password"/>

            <!-- VALUE MATCHES ERROR -->
            <small class="error" ng-show="theForm.confirmPassword.$error.stValueMatches">{{ LSPage.errors.confirmPasswordValueMatches }}</small>

            <!-- CHANGE PASSWORD BUTTON -->
            <button ng-click="update()" class="btn btn-primary form-control sign-up" ng-disabled="theForm.$invalid">{{ LSPage.changePassword }}</button>

            <!-- CANCEL BUTTON -->
            <a href="#/login" class="btn btn-default form-control cancel">{{ LS.common.cancel }}</a>
        </div>
    </form>
</div>
