<!-- HEADING -->
<header class="noactions">
    <h1>{{ LSPage.heading }}</h1>
</header>

<div class="buttons">
    <div>
        <!-- RETURN TO LOGIN PAGE BUTTON -->
        <a href="#/login" class="btn btn-primary form-control" ng-show="success != null">{{ LS.common.returnToLoginPage }}</a>
    </div>
</div>

<form name="theForm" class="stx-form compact" novalidate="" ng-hide="success != null">
    <div class="buttons">
        <div>
            <div class="alert alert-success success">{{ LSPage.message }}</div>
        </div>
    </div>

    <!-- USERNAME -->
    <div>
        <label for="username">{{ LSPage.username }}</label>
        <div><input id="username" disabled ng-model="entity.username" st-meta-validate="metadata.username" ng-class="{errorHighlight: $dirty && $invalid}"/></div>
    </div>

    <!-- PASSWORD -->
    <div>
        <label for="password">{{LSPage.password}}</label>
        <div><input id="password" name="password" required type="password" ng-model="entity.password" st-meta-validate="metadata.password" st-autofocus autocomplete="off"/></div>
    </div>

    <!-- CONFIRM PASSWORD -->
    <div>
        <label for="confirmPassword">{{LSPage.confirmPassword}}</label>
        <div>
            <input id="confirmPassword"
                   name="confirmPassword"
                   type="password"
                   ng-class="{errorHighlight: $dirty && $invalid}"
                   ng-model="confirmPassword"
                   required
                   st-meta-validate="metadata.password"
                   st-value-matches="password"/>
            <!-- VALUE MATCHES ERROR -->
            <small class="error" ng-show="theForm.confirmPassword.$error.stValueMatches">{{ LSPage.errors.confirmPasswordValueMatches }}</small>
        </div>
    </div>
    <div class="buttons">
        <div>
            <!-- CHANGE PASSWORD BUTTON -->
            <button ng-click="update()" class="save-btn" ng-disabled="theForm.$invalid">{{ LSPage.addPassword }}</button>
        </div>
    </div>
</form>
