<!-- CONTENT -->
<h1>{{LS.pages.account.update.heading}}</h1>

<form name="theForm" role="form" class="update">
    <fieldset>
        <!-- USERNAME -->
        <div>
            <label for="username">Username</label>

            <div><input id="username" ng-model="account.username" st-meta-validate="metadata.username"/></div>
        </div>

        <!-- FIRST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="firstname">First Name</label>

            <div><input id="firstName" ng-model="account.firstname" st-meta-validate="metadata.firstName"/></div>
        </div>

        <!-- MIDDLE INITIAL -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="middleInitial">Middle Initial</label>

            <div><input id="middleInitial" ng-model="account.middleInitial" st-meta-validate="metadata.middleInitial"/></div>
        </div>

        <!-- LAST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="lastName">Last Name</label>

            <div><input id="lastName" ng-model="account.lastName" st-meta-validate="metadata.lastName"/></div>
        </div>

        <!-- EMAIL ADDRESS -->
        <div>
            <label for="emailAddress">Email Address</label>

            <div><input id="emailAddress" ng-model="account.emailAddress" st-meta-validate="metadata.emailAddress"/></div>
        </div>

        <div class="buttons">
            <div>
            <!-- SAVE BUTTON -->
            <button ng-click="update()" ng-disabled="formName.$invalid">Save</button>

            <!-- CANCEL BUTTON -->
            <a href="#/accounts/view">Cancel</button>
        </div>
        </div>
    </fieldset>
</form>
