<!-- CONTENT -->
<header class="noactions">
    <h1>{{LSPage.heading}}</h1>
</header>

<form name="theForm" role="form" st-submit="update()" class="stx-form compact2" novalidate>
    <fieldset>
        <!-- USERNAME -->
        <div>
            <label for="username">Username</label>

            <div>
                <input id="username" name="username" required ng-model="account.username" st-meta-validate="metadata.username"/>
                <small class="error" ng-show="theForm.checkError(theForm.username, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- FIRST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="firstname">First Name</label>

            <div>
                <input id="firstName" name="firstName" required ng-model="account.firstName" st-meta-validate="metadata.firstName"/>
                <small class="error" ng-show="theForm.checkError(theForm.firstName, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- MIDDLE INITIAL -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="middleInitial">Middle Initial</label>

            <div><input id="middleInitial" ng-model="account.middleInitial" st-meta-validate="metadata.middleInitial"/></div>
        </div>

        <!-- LAST NAME -->
        <div ng-class="{hide: !portal.project.showSubjectName}">
            <label for="lastName">Last Name</label>

            <div>
                <input id="lastName" name="lastName" required ng-model="account.lastName" st-meta-validate="metadata.lastName"/>
                <small class="error" ng-show="theForm.checkError(theForm.lastName, 'required')">{{ LS.common.errors.required }}</small>
            </div>
        </div>

        <!-- EMAIL ADDRESS -->
        <div>
            <label for="emailAddress">Email Address</label>

            <div>
                <input id="emailAddress" name="emailAddress" required type="email" ng-model="account.emailAddress" st-meta-validate="metadata.emailAddress"/>
                <small class="error" ng-show="theForm.checkError(theForm.emailAddress, 'required')">{{ LS.common.errors.required }}</small>
                <small class="error" ng-show="theForm.checkError(theForm.emailAddress, 'email')">{{ LS.common.errors.emailAddressEmail }}</small>
            </div>
        </div>

        <div class="buttons">
            <div>
                <!-- SAVE BUTTON -->
                <button class="save-btn" ng-disabled="formName.$invalid">Save</button>

                <!-- CANCEL BUTTON -->
                <a ng-click="back('accounts.view')">Cancel</a>
            </div>
    </fieldset>
</form>
