<header>
    <h1>{{ LSPage.heading }}</h1>

    <div class="actions">
        <button type="button" data-toggle="dropdown">{{ LS.common.actions }} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-click="$state.go('accounts.update')">{{ LSPage.edit }}</a></li>
            <li><a ng-click="$state.go('accounts.changePassword')">{{ LSPage.changePassword }}</a></li>
        </ul>
    </div>
</header>

<section class="col-sm-6">
    <h1>{{ "Profile" }}</h1>
    <ul class="attribute-table">
        <li>
            <div>{{ LSPage.username }}</div>
            <div>{{account.username}}</div>
        </li>
        <li ng-class="{hide: !portal.project.showSubjectName}">
            <div>{{ LSPage.name }}</div>
            <div> {{account.firstName}} {{account.middleInitial}} {{account.lastName}}</div>
        </li>
        <li>
            <div>{{ LSPage.emailAddress }}</div>
            <div>{{ account.emailAddress }}</div>
        </li>
    </ul>
</section>
<section class="col-sm-6">
    <h1>{{ LSPage.personalInformation }}</h1>
    <ul class="entity-list">
        <li ng-repeat="item in projectVariableGroups | orderBy:'name'" variablegroupid="{{item.variableGroupId}}">
            <a href="#/variablegroups/update/{{item.id}}//" class="entity compact">
                <div class="name">{{item.name}}</div>
                <div class="percent-complete">
                    <span ng-class="{ incomplete: item.percentComplete < .9999, complete: item.percentComplete > .9999 }">{{(item.percentComplete*100) | number:1}}%</span>
                </div>
            </a>
        </li>
    </ul>
</section>
