<!-- PORTAL NAME -->
<div class="col-xs-12">
    <h3 class="text-ellipsis text-center" title="{{portal.name}}">{{portal.name}}</h3>
</div>
<div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <!-- ERROR PANEL -->
    <div ng-include src="'common/error-panel.tpl.html'"/>

    <form name="theForm">
        <!-- USERNAME -->
        <div>
            <label for="username" class="control-label">{{LSPage.username}}</label>
            <input id="username" ng-model="authorization.username" placeholder="{{LSPage.username}}" type="text" required='true' class="form-control" st-autofocus/>
        </div>

        <!-- PASSWORD -->
        <div>
            <label for="password" class="control-label">{{LSPage.password}}</label>
            <input id="password" ng-model="authorization.password" placeholder="{{LSPage.password}}" type='password' required='true' class="form-control"/>
        </div>

        <!-- LOGIN BUTTON -->
        <div>
            <button id="loginBtn" ng-click="login()" class="btn btn-primary form-control login" ng-disabled="theForm.$invalid" data-loading-text="{{ LSPage.loggingIn }}">{{LSPage.login}}</button>
        </div>

        <!-- ENROLL BUTTON -->
        <div ng-class="{hide: !portal.allowAnonymousDataEntry}">
            <a id="enrollBtn" href="#" class="btn btn-success form-control enroll">{{LSPage.enroll}}</a>
        </div>

        <!-- REGISTER BUTTON -->
        <div ng-class="{hide: !portal.allowRegistration}">
            <a href="#/register" class="btn btn-success form-control register">{{LSPage.register}}</a>
        </div>

        <!-- FORGOT USERNAME/PASSWORD BUTTON-->
        <div>
            <a id="forgotBtn" href="#" class="btn btn-default form-control">{{LSPage.forgotUsernameOrPassword}}</a>
        </div>
    </form>
</div>
