<!-- CONTENT -->
<div class="container">
    <h1>{{LSPage.heading}}</h1>

    <!-- ERROR MESSAGES -->
    <div id="errors" class="alert alert-danger" ng-class="{hide: error == null}">
        {{error.message}}
        <div class="text-center">
        </div>
    </div>

    <!-- SUCCESS MESSAGES -->
    <div class="alert alert-success" ng-class="{hide: successMessage == null}">
        {{successMessage}}
    </div>

    <form name="theForm" role="form">
        <fieldset>
            <!-- USERNAME -->
            <div>
                <label for="username" class="control-label">Username</label>
                <input id="username"
                       ng-model="account.username"
                       ng-class="{errorHighlight: $dirty && $invalid}"
                       meta-validate="metadata.username"
                       class="form-control"/>
            </div>

            <div ng-class="{hide: !portal.project.showSubjectName}">
                <!-- FIRST NAME -->
                <div>
                    <label for="firstname" class="control-label">First Name</label>
                    <input id="firstname" ng-model="account.firstname" meta-validate="metadata.firstName" class="form-control"/>
                </div>

                <!-- MIDDLE INITIAL -->
                <div>
                    <label for="middleInitial" class="control-label">Middle Initial</label>
                    <input id="middleInitial" ng-model="account.middleInitial" meta-validate="metadata.middleInitial" class="form-control"/>
                </div>

                <!-- LAST NAME -->
                <div>
                    <label for="lastName" class="control-label">Last Name</label>
                    <input id="lastName" ng-model="account.lastName" meta-validate="metadata.lastName" class="form-control"/>
                </div>
            </div>
            <!-- EMAIL ADDRESS -->
            <div>
                <label for="emailAddress" class="control-label">Email Address</label>
                <input id="emailAddress" ng-model="account.emailAddress" meta-validate="metadata.emailAddress" class="form-control"/>
            </div>

            <!-- PASSWORD -->
            <div>
                <label for="password" class="control-label">{{LSPage.password}}</label>
                <input id="password" type="password" ng-model="account.password" meta-validate="metadata.password" class="form-control"/>
            </div>

            <!-- CONFIRM PASSWORD -->
            <div>
                <label for="confirmPassword" class="control-label">{{LSPage.confirmPassword}}</label>
                <input id="confirmPassword"
                       type="password"
                       ng-class="{errorHighlight: $dirty && $invalid}"
                       ng-model="confirmPassword"
                       meta-validate="metadata.password"
                       class="form-control"
                       value-matches="password"/>
                <span ng-show="theForm.confirmPassword.$error">BLah Blah Blah</span>
            </div>

            <!-- SIGN UP BUTTON -->
            <button ng-click="update()" class="btn btn-primary form-control sign-up" ng-disabled="theForm.$invalid">Sign Up</button>

            <!-- CANCEL BUTTON -->
            <a href="#/login" class="btn btn-default form-control cancel">Cancel</a>
        </fieldset>
    </form>
</div>
