@ws-brand-color: #00ACE6;

/*******************************************************************/
/* Custom CSS Start  */
/*******************************************************************/
.siteCustomCssBegin {
    background: red;
}

body {
    margin-top: 90px;
}

.navbar-inverse {
    background: white;
    border-color: lighten(@ws-brand-color, 10%);
    color: black;
}

.navbar-inverse:after {
    content: "Families & Researchers Working Together to Advance Understanding of Williams Syndrome";
    @media (max-width: @screen-xs-max) {
        content: "Families & Researchers Working Together";
    }

    color: @navbar-inverse-link-color;
    font-size: .75em;
    margin-bottom: 10px;
    margin-left: 20px;
    //    width: 200px;
}

.navbar-inverse .navbar-brand:hover {
    color: #999999;
}

.navbar-inverse li > a:active,
.navbar-inverse li > a:hover,
.navbar-inverse li > a:visited {
    background: @ws-brand-color !important;
}

.navbar-brand {
    font-size: 1.75em;
    font-weight: bold;
}

.registry-text {
    color: @ws-brand-color;
}

a,
a:hover {
    color: @ws-brand-color;
}

#page-instructions {
    text-align: center;
}

.siteCustomCssEnd {
    background: red;
}
/*******************************************************************/
/* Custom CSS End  */
/*******************************************************************/