/**
.page header h1 {
  @media (max-width: @screen-xs-max) {
    background: orange !important;
  }
  @media (min-width: @screen-xs) {
    background: yellow !important;
  }
  @media (min-width: @screen-sm) {
    background: red !important;
  }
  @media (min-width: @screen-md) {
    background: blue !important;
  }
  @media (min-width: @screen-lg) {
    background: green !important;
  }
}
/**/

.page {
    min-height: 300px;
    .container;
    header {
        border: none;
        //    margin-bottom: (@grid-gutter-width / 2);
        h1 {
            .h3;
            .text-center;
            .text-ellipsis;
            margin-top: 0px;
            margin-bottom: 0px;
            padding: @padding-base-vertical @padding-base-horizontal;
            @media (max-width: @screen-xs-max) {
                width: 65%;
            }
            @media (min-width: @screen-xs) {
                margin-left: 25%;
                width: 50%;
            }
            @media (min-width: @screen-sm) {
                margin-left: 15%;
                width: 70%;
            }
            @media (min-width: @screen-md) {
                margin-left: 15%;
                width: 70%;
            }
            @media (min-width: @screen-lg) {
            }
        }
        &.noactions h1 {
            margin-left: 0;
            width: 100%;
        }
        .actions {
            .btn-group;
            .pull-right;

            .dropdown-menu {
                right: 0;
                left: auto;
            }
        }
        .actions > button {
            .btn;
            .btn-default;
        }
    }
    section h1 {
        .h4;
    }
}

#page-instructions {
    .make-sm-column(12);
    margin: (@grid-gutter-width / 2);
}
