#sessionExpirationDialog .modal-dialog {
    margin-top: (@navbar-height + (@grid-gutter-width/2));
}

.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    &:active {
        text-overflow: normal;
        white-space: normal;
    }
}

.text-badge {
    line-height: 18px;
    display: block;
    vertical-align: middle;
    & > div {
        margin-top: 3px;

        .text-ellipsis;
        width: 70%;
    }
    span {
        .badge;
        .pull-right;
    }
}

body {
    min-width: 320px;
    overflow-x: hidden;
    margin-top: (@navbar-height + (@grid-gutter-width/2));
    margin-bottom: (@navbar-height + (@grid-gutter-width/2));
}

/*****************************************************************/
// NAVBAR
/*****************************************************************/
.navbar-inverse {
    color: @navbar-inverse-color;
}

.navbar-btn {
    background: @navbar-inverse-btn-bg;
    color: @navbar-inverse-btn-color;
    margin: 5px;
    &:hover {
        background: #F7A288 !important;
    }
}

/*****************************************************************/
// FOOTER
/*****************************************************************/
footer {
    .container;
//    border-top: solid 1px lighten(@footer-color, 10%);
    color: @footer-color;
    margin-top: 40px;
//    vertical-align: middle;

    .powered-by {
        .container;
//        margin-top: 5px;
        font-size: .75em;
        text-align: right;
        .powered-by-logo {
            .opacity(.75);
            margin-top: -5px;
            width: 150px;
        }
    }
    .powered-by:hover {
        color: darken(@footer-color, 25%);
        .powered-by-logo:hover {
            .opacity(1);
        }
    }
    @media (max-width: @screen-xs-max) {
        .powered-by {
            font-size: .65em;
            .powered-by-logo {
                margin-top: -2px;
                width: 100px;
            }
        }
    }
}

.navbar-brand {
    @media (max-width: 359px) {
        padding-top: 18px;
        width: 170px;
    }
}

.loading {
    //  border: solid 1px lighten(@link-color, 15%);
    //  background: whitesmoke;
    color: @link-color;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100px;
    text-align: center;
    height: 100px;
    width: 100px;
}

.attribute-table {
    .nav;
    & > li {
        .list-group-item;
        .row;
        margin-left: 0;
        margin-right: 0;
        //        padding: .25em;
        div {
            .text-ellipsis;

            .make-xs-column(6);
            .make-sm-column(6);
            .make-md-column(6);
            .make-lg-column(6);
        }
        & > div {
            padding-left: 0;
        }
        & > div + div {
            padding-right: 0;
        }
    }
}

.variable-group-list li a {
    font-size: @font-size-base !important;
}

@import 'bs-fixes.less';
@import 'mixins.less';
@import 'page.less';
@import 'forms.less';
@import 'page-specific.less';

.entity-list {
    .nav;

    & > li {
        .list-group-item;
        cursor: pointer;
        padding: 0px;
    }

    .due-date,
    .name {
        .text-overflow;
    }

    .entity {
        .row;
        .container;
    }

    // Variable Group / Encounter fields
    .name {
        .make-xs-column(8);
        .make-sm-column(10);
    }
    .percent-complete {
        text-align: right;
        .make-xs-column(4);
        .make-sm-column(2);

        & > div,
        & > span {
            .badge;
            min-width: 75px;
            text-align: right;
        }
        .complete {
            background: lighten(@brand-success, 30%) !important;
            border: solid 1px darken(@brand-success, 15%);
            color: darken(@brand-success, 15%);
        }
        .nodataandincomplete,
        .incomplete {
            background: lighten(@brand-warning, 10%) !important;
            border: solid 1px darken(@brand-warning, 35%);
            color: darken(@brand-warning, 45%);
        }
    }

    // Encounter fields
    .encounter {
        .name {
            .make-sm-column(6);
        }
        .due-date {
            .make-sm-column(4);
        }
        .percent-complete {
            .make-sm-column(2);
        }
    }
    .entity > div:first-child {
        padding-left: 0 !important;
    }
    .entity > div:last-child {
        padding-right: 0 !important;
    }
}

.entity-list.compact .name {
    .make-sm-column(8);
    .make-md-column(9);
}

.entity-list.compact .percent-complete {
    .make-sm-column(4);
    .make-md-column(3);
}

.entity-list .encounter .name {
    .make-sm-column(6);
}

