.stx-form > div > div.DataEntryPanel {
    .make-sm-column(12);
}

.dataEntryPanelWrapper {
    .container-fixed();
}

.validation-summary-errors {
    display: block;
    background: lighten(@brand-danger, 35%) !important;
    border-color: lighten(@brand-danger, 15%) !important;
    padding: (@grid-gutter-width / 2);

    ul {
        margin: 0;
        padding: 0;
        li {
            display: block;
            color: darken(@brand-danger, 15%) !important;
            list-style: none;
        }
    }
}

.DataEntryPanel {
    background: inherit !important;
    border: none !important;
    font-size: 13.33px;
    select,
    textarea,
    input {
        line-height: 1;
    }

    .DateWrapper img {
        top: -2px;
    }
    .AnswerPanel {
        input[type=text] {
            border: solid 1px DarkGray;
            height: 20px !important;
        }
        label {
            font-weight: normal;
        }
        span {
            color: darken(@brand-danger, 15%) !important;
        }
        .RadioButtonList {
            height: 100%;

            .RadioButton {
                line-height: 1.2;
                .RadioButtonLabel {
                    label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .PromptPanel {
//        margin-left: 6px;
        text-align: justify;
    }
    .HorizontalRadioButtonList .RadioButton {
        white-space: nowrap;
    }

    & > span {
        .row();
    }
    .bs-enhanced {
        font-size: @font-size-base;
        .Variables > span > span {
            font-size: @font-size-base !important;
        }
        .stx-form;
        .make-lg-column-offset(2);
        .make-lg-column(8);

        .VariableGroupHeading {
            border: none;
            .VariableGroupName {
                text-align: center;
                width: 100%;
            }
        }

        .Checkbox .AnswerControlSuffix {
            margin-left: 5px;
        }
        .Checkbox .AnswerSuffixTable {
            table-layout: fixed;
            tr {
                vertical-align: middle;
                td {
                    color: inherit !important;
                    span {
                        display: inline !important;
                    }
                }
                td:first-child {
                    // For some reason, in IE 10, the checkbox has left padding on it that is
                    // messing up the alignment
                    input {
                        padding-left: 0px;
                    }
                    width: 20px;
                }
            }
        }
        .Document span {
            display: inline !important;
        }

        .VariablePanel {
//            min-height: 60px;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            //            margin: 0;
            .VariablePanelFirstContainer {
                .make-sm-column(6);
                padding-left: 0;
                padding-right: 0;
                .AnswerPanel {
                    .form-control;
                    .box-shadow(none);
                    border: none;
                    height: inherit;
                    padding-bottom: 0;
                    padding-top: 0;
                    text-align: right;
                    width: 100% !important;
                }
            }
            .VariablePanelSecondContainer {
                .make-sm-column(6);
                padding-left: 0;
                padding-right: 0;
                .PromptPanel {
                    margin-left: 0;
                    padding-left: 0;
                    text-align: left;
                }
            }
            .AnswerPanel {
                width: 100% !important;
                select {
                    .form-control();
                    padding-top: 9px;
                    width: 100% !important;
                }
                input:not([type='radio']) {
                    //            .form-control;
                    // For some reason we need to add 1px to the height to fix the checkbox alignment.
                    height: (@input-height-base + 1px) !important;
                    width: 100% !important;
                }
                textarea {
                    .form-control();
                    height: (@input-height-base * 3) !important;
                    width: 100% !important;
                }
                input[type='checkbox'] {
                    margin: 0;
                    border: none;
                    width: auto !important;
                }
                input[type='file'] {
                    height: inherit !important;
                }
                .AnswerSuffixTable {
                    tr td span {
                        color: inherit !important;
                    }
                    width: 100% !important;
                }
                .DateWrapper {
                    position: relative;
                    width: 100% !important;
                    input {
                        margin-right: 40px;
                    }
                    img {
                        left: inherit;
                        top: 4px;
                        right: 10px;
                        position: absolute;
                        height: 32px;
                        width: 32px;
                    }
                }
                .RadioButtonLabel {
                    padding: 0;
                    height: auto;
                    label {
                        width: inherit;
                    }
                }
                .RadioButton {
                    .form-control();
                    box-shadow: none;
                    border: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    padding-left: 0;
                    width: auto;
                    input {
                        margin-top: .375em;
                    }
                    label {
                        padding: 0;
                        text-align: left;
                    }
                }
                & > div {
                    width: 100% !important;
                }
            }
            .NumberPanel {
                .form-control;
                .box-shadow(none);
                border: none;
                height: inherit;
                text-align: left;
                width: 40px !important;
            }
            .PromptPanel {
                .form-control;
                //                .make-sm-column(6);
                .box-shadow(none);
                border: none;
                height: inherit;
                text-align: right;
                width: 100% !important;
            }
            .NumberPanel + .AnswerPanel,
            .NumberPanel + .PromptPanel {
                width: 82% !important;
            }
        }

        .Vertical.Indent1 { margin-left: 40px; }
        .Vertical.Indent2 { margin-left: 80px; }
        .Vertical.Indent3 { margin-left: 120px; }
        .Vertical.Indent4 { margin-left: 1600px; }
        .Vertical.Indent1, .Vertical.Indent2, .Vertical.Indent3, .Vertical.Indent4 {
            width: inherit;
        }
        .Vertical.Indent1 .AnswerSuffixTable, .Vertical.Indent2 .AnswerSuffixTable, .Vertical.Indent3 .AnswerSuffixTable, .Vertical.Indent4 .AnswerSuffixTable {
            white-space: nowrap;
        }
        .NoAnswer,
        .Vertical {

            clear: both;
            .VariablePanelFirstContainer {
                .make-sm-column(12);
                .make-md-column(12);
                padding: 0 !important;
            }
            .VariablePanelSecondContainer {
                .make-sm-column(12);
                .make-md-column(12);
                margin-bottom: (@grid-gutter-width / 2);
                padding: 0 !important;
            }
            .NumberPanel,
            .PromptPanel {
                text-align: left;
                margin: 0 !important;
                padding: 0 !important;
                margin-top: 20 !important;
            }
            .RadioButton {
                height: inherit !important;
                padding: 0 !important;
            }
            .AnswerPanel {
                margin: 0 !important;
                padding: 0 !important;
            }
        }

        .ClearBoth,
        .IndentPanel {
            display: none !important;
        }
        .Required {
            input:not([type='radio']) {
                .required-input();
            }
        }
        .RequiredPanel {
            display: none;
        }

        .VariableGroupHeading {
            border: none;
            .VariableGroupName {
                font-size: 2em;
                text-align: center;
                width: 100%;
            }
        }
        .Heading {
            background: inherit;
            color: inherit;
            font-size: 1.75em;
            i {
                font-size: .6em;
                font-weight: normal;
            }
        }
        //        .Vertical {
        //            input[type='checkbox'] {
        //                height: inherit !important;
        //            }
        //        }
        @media (max-width: @screen-xs-max) {
            .Indent1 { margin-left: 20px; }
            .Indent2 { margin-left: 40px; }
            .Indent3 { margin-left: 60px; }
            .Indent4 { margin-left: 80px; }
            .Indent1, .Indent2, .Indent3, .Indent4 {
                width: inherit;
            }
            .MatrixTable + .VariablePanel .PromptPanel {
                text-align: left !important;
            }
            .VariablePanel {
                .Vertical();
                .VariablePanelFirstContainer,
                .VariablePanelSecondContainer {
                    width: 100%;
                    .AnswerPanel {
                        text-align: left;
                    }
                }
            }

            .VariableGroupHeading .VariableGroupName {
                font-size: 1.5em;
            }

            .Heading {
                font-size: 1.25em;
            }

            .PromptPanel b {
                font-size: 1em;
            }
        }

        .MatrixTable {
            table-layout: fixed;
            width: 100%;
            .RequiredFieldHeader,
            .RequiredPanel {
                display: none;
            }

            thead {
                tr {
                    th {
                        background: lighten(@custom-brand-color, 35%);
                        padding: @padding-base-vertical @padding-base-horizontal;
                        width: auto;
                    }
                    .NumberHeader {
                        width: 60px;
                    }
                    .PromptHeader {
                        width: 250px !important;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        //                .form-control;
                        float: none;
                        padding: @padding-base-vertical @padding-base-horizontal;
                        text-align: center;
                    }
                    .NumberPanel {
                        background: inherit;
                        display: table-cell;
                        padding: @padding-base-vertical @padding-base-horizontal !important;
                    }
                    .PromptPanel {
                        min-height: @input-height-base;
                        background: inherit;
                        padding: @padding-base-vertical @padding-base-horizontal !important;
                        text-align: left;
                        width: 100% !important;
                    }
                }
                tr.Even {
                    background: lighten(@custom-brand-color, 40%);
                }
            }
        }
        .MatrixTable + .VariablePanel {
            height: 57px;
            .NumberPanel {
                margin-left: 3px;
                margin-right: 2px;
                padding: @padding-base-vertical @padding-base-horizontal !important;
                width: 60px !important;
            }
            .PromptPanel {
                text-align: right !important;
            }
        }
        .MatrixTable + .MatrixTable {
            margin-top: (@grid-gutter-width / 2);
        }

        .bs-width-col-1 {
            .make-sm-column(1);
        }
        .bs-width-col-2 {
            .make-sm-column(2);
        }
        .bs-width-col-3 {
            .make-sm-column(3);
        }
        .bs-width-col-4 {
            .make-sm-column(4);
        }
        .bs-width-col-1,
        .bs-width-col-2,
        .bs-width-col-3,
        .bs-width-col-4 {
            padding-left: 5px;
            padding-right: 5px;
            input[type=text] {
                padding-right: 12px;
            }
            .PromptPanel {
                text-align: left;
            }
            .VariablePanelFirstContainer {
                width: 100% !important;
            }
            .VariablePanelSecondContainer {
                width: 100% !important;
            }
        }
        .bs-enhanced .bs-width-col-first {
            clear: both;
        }
    }
}
.entity-list.DataEntryPanel {
    font-size: inherit;
}
#variablePanelMenu {
    border: solid 1px darkgray;
    background: #F0592B;;
    padding: 2px;
    position: fixed;
    right: 0;
    top: 50px;
    width: 200px;
    z-index: 1000;
}
#variablePanelMenu a {
    cursor: pointer;
    color: white;
}
#variablePanelMenu > a {
    margin: 3px;
}
#variablePanelMenu > a:hover {
    text-decoration: none;
}
#variablePanelMenu .options {
    background: #FAC7B8;
    color: #F0592B;
    text-align: center;
}
#variablePanelMenu .options a {
    color: #F0592B;
}
#variablePanelMenu .heading {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.VariablePanel.highlight,
.VariablePanel .highlight {
    border: solid 3px red;
}
