<header>
    <h1 title="{{ LSPage.heading }}">{{ LSPage.heading }}</h1>
    <!-- FILTER -->
    <div class="actions">
        <button type="button" data-toggle="dropdown"><span class="glyphicon glyphicon-filter"></span><span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li ng-class="{active: encounterFilter == 'all'}"><a ng-click="setFilter('all')">All</a></li>
            <li ng-class="{active: encounterFilter == 'incomplete'}"><a ng-click="setFilter('incomplete')">Incomplete</a></li>
        </ul>
    </div>
</header>

<ul class="entity-list">
    <li ng-repeat="item in encounters | filter:byCompletness | orderBy:'dueDate':true ">
        <a href="#/encounters/view/{{item.intervalId}}/{{item.encounterId}}" class="entity encounter">
            <div class="name">{{item.name}}</div>
            <div class="due-date hidden-xs">due {{ item.dueDate | timeAgo }}</div>
            <div class="percent-complete">
                <div class="{{item.dataCompletionStatus.toLowerCase()}}">{{item.percentComplete*100 | number:1}}%</div>
            </div>
        </a>
    </li>
    <li ng-show="(encounters | filter:byCompletness).length == 0">No items to display.</li>
</ul>
