<div>The following items are incomplete.  Please complete them.</div>
<ul class="list-group">
	<li ng-repeat="item in incompleteSummaries" variablegroupid="{{item.variableGroupIdNumber}}" class="list-group-item">
        <a ui-route="/forms/update/variablegroup" href="#/variablegroups/update/{{item.id}}//">{{item.name}}</a>
        <span class="badge" ng-class="{ incomplete: item.percentComplete < .9999, complete: item.percentComplete > .9999 }">{{(item.percentComplete*100) | number:1}}%</span>
	</li>
	<li ng-repeat="item in encounters | orderBy:'dueDate':true | filter: data.encounterDueAndIncomplete" class="list-group-item">
		<a href="#/encounters/view/{{item.intervalId}}/{{item.encounterId}}">{{item.name}}</a>
		<span class="badge {{item.dataCompletionStatus}}">{{item.percentComplete}}%</span>
	</li>
</ul>

<h3>Actions</h3>
<div class="btn-group">
	<a href="#" class="btn">New Injury</a>
	<a href="#" class="btn">New Adverse Event</a>
</div>