<header ng-class="{ noactions: encounterActions.length == 0 }">
    <!-- HEADING -->
    <h1 title="{{ LSPage.heading }}">{{ LSPage.heading }}</h1>

    <!-- NEW ENCOUNTER BUTTON -->
    <div class="actions" ng-show="encounterActions.length > 0">
        <button type="button" data-toggle="dropdown">{{ LS.common.actions }} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in encounterActions | orderBy: 'name'">
                <a ng-click="createEncounter(item.id)">{{ LS.common.newText }} {{ item.name }}</a>
            </li>
        </ul>
    </div>
</header>

<section id="page-instructions"></section>

<section id="no-incomplete-data" class="col-xs-12" ng-class="{'col-sm-8': reports.length > 0}" ng-show="incompleteSummaries.length == 0 && (incompleteEncounters | readOnlyEncounter:false).length == 0"></section>

<section class="col-xs-12" ng-class="{'col-sm-8': reports.length > 0}" ng-show="incompleteSummaries.length > 0 || (incompleteEncounters | readOnlyEncounter:false).length > 0">
    <ul class="entity-list">

        <h1>{{ LSPage.incomplete }}</h1>
        <!-- INCOMPLETE VARIABLE GROUPS -->
        <li ng-repeat="item in incompleteSummaries" variablegroupid="{{item.variableGroupIdNumber}}">
            <a ng-click="$state.go('variablegroups.update', { variableGroupId: item.id })" class="entity encounter">
                <!-- NAME -->
                <div class="name">{{ item.name }}</div>

                <div class="due-date hidden-xs">due now</div>

                <!-- PERCENT COMPLETE -->
                <div class="percent-complete">
                    <div ng-class="{ incomplete: item.percentComplete < .9999, complete: item.percentComplete > .9999 }">{{(item.percentComplete*100) | number:1}}%</div>
                </div>
            </a>
        </li>

        <!-- INCOMPLETE ENCOUNTERS -->
        <li ng-repeat="item in incompleteEncounters | readOnlyEncounter:false | orderBy:'dueDate':true">
            <a ng-click="$state.go('encounters.view', {intervalId: item.intervalId, encounterId: item.encounterId})" class="entity encounter">
                <!-- NAME -->
                <div class="name">{{ item.name }}</div>

                <div class="due-date hidden-xs">due {{ item.dueDate | encounterDueDescription }}</div>

                <!-- PERCENT COMPLETE -->
                <div class="percent-complete">
                    <div ng-show="item.percentComplete > 0" class="{{item.dataCompletionStatus.toLowerCase()}}">{{item.percentComplete*100 | number:1}}%</div>
                    <div ng-show="item.percentComplete == 0" class="incomplete">{{item.percentComplete*100 | number:1}}%</div>
                </div>
            </a>
        </li>
    </ul>

    <!-- RECENTLY COMPLETED
        show complete
        order by due date
        select top 5
    -->
    <div ng-show="recentlyCompletedEncounters.length > 0">
        <h1>{{ LSPage.recentlyCompleted }}</h1>
        <ul class="entity-list">
            <li ng-repeat="item in recentlyCompletedEncounters | top: 5 | orderBy:'encounterDate':true">
                <a ng-click="$state.go('encounters.view', {intervalId: item.intervalId, encounterId: item.encounterId})" class="entity encounter">
                    <!-- NAME -->
                    <div class="name">{{ item.name }}</div>

                    <div class="due-date hidden-xs">{{ item.encounterDate | moment:'format':'LL' }}</div>

                    <!--&lt;!&ndash; PERCENT COMPLETE &ndash;&gt;-->
                    <!--<div class="percent-complete">-->
                    <!--<div class="{{item.dataCompletionStatus.toLowerCase()}}">{{item.percentComplete*100 | number:1}}%</div>-->
                    <!--</div>-->
                </a>
            </li>
        </ul>
    </div>
</section>
<section class="col-xs-12 col-sm-4" ng-show="reports.length > 0">
    <h1>{{ LSPage.reports }}</h1>
    <ul class="entity-list">
        <li ng-repeat="item in reports">
            <a ng-click="$state.go('reports.view', { reportId: item.id })" class="entity">
                <div class="name">{{ item.name }}</div>
            </a>
        </li>
    </ul>
</section>
