<header ng-class="{ noactions: encounterActions.length == 0 }">
    <h1 title="{{ LSPage.heading }}">{{ LSPage.heading }}</h1>
    <!-- NEW ENCOUNTER BUTTON -->
    <div class="actions" ng-show="encounterActions.length > 0">
        <button type="button" data-toggle="dropdown">{{ LS.common.actions }} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in encounterActions | orderBy: 'name'">
                <a ng-click="createEncounter(item.id)">{{ LS.common._new }} {{ item.name }}</a>
            </li>
        </ul>
    </div>
</header>
<section class="col-xs-12 col-sm-8">
    <ul class="entity-list">
        <h1>Incomplete</h1>
        <!-- INCOMPLETE VARIABLE GROUPS -->
        <li ng-repeat="item in incompleteSummaries" variablegroupid="{{item.variableGroupIdNumber}}">
            <a ng-click="$state.go('variablegroups.update', { variableGroupId: item.variableGroupId })" class="entity">
                <!-- NAME -->
                <div class="name">{{ item.name }}</div>

                <!-- PERCENT COMPLETE -->
                <div class="percent-complete">
                    <div ng-class="{ incomplete: item.percentComplete < .9999, complete: item.percentComplete > .9999 }">{{(item.percentComplete*100) | number:1}}%</div>
                </div>
            </a>
        </li>

        <!-- INCOMPLETE ENCOUNTERS -->
        <li ng-repeat="item in incompleteEncounters | orderBy:'dueDate':true">
            <a ng-click="$state.go('encounters.view', {intervalId: item.intervalId, encounterId: item.encounterId})" class="entity encounter">
                <!-- NAME -->
                <div class="name">{{ item.name }}</div>

                <div class="due-date hidden-xs">due {{ item.dueDate | timeAgo }}</div>

                <!-- PERCENT COMPLETE -->
                <div class="percent-complete">
                    <div class="{{item.dataCompletionStatus.toLowerCase()}}">{{item.percentComplete*100 | number:1}}%</div>
                </div>
            </a>
        </li>
    </ul>
    <h1>Recent Completed</h1>
    <ul class="entity-list">
        <li ng-repeat="item in incompleteEncounters">
            <a ng-click="$state.go('encounters.view', {intervalId: item.intervalId, encounterId: item.encounterId})" class="entity encounter">
                <!-- NAME -->
                <div class="name">{{ item.name }}</div>

                <div class="due-date hidden-xs">due {{ item.dueDate | timeAgo }}</div>

                <!-- PERCENT COMPLETE -->
                <div class="percent-complete">
                    <div class="{{item.dataCompletionStatus.toLowerCase()}}">{{item.percentComplete*100 | number:1}}%</div>
                </div>
            </a>
        </li>
    </ul>
</section>
<section class="col-xs-12 col-sm-4">
    <h1>Reports</h1>
    <ul class="entity-list">
        <li>
            <a class="entity">
                <div class="name">Baseline</div>
            </a>
            <a class="entity">
                <div class="name">Baseline</div>
            </a>
            <a class="entity">
                <div class="name">Baseline</div>
            </a>
        </li>
    </ul>
</section>
